<div class="container">
    <div class="jumbotron">
        <h1>Bienvenido al cliente unicornios!</h1>
    </div>
</div>
<div class="border" style="margin-top: 25px;padding: 15px 50px;">
  <h3>Buscar Unicornio</h3>

  <?php
      echo $this->tag->form(
          [
              "index/search",
              "autocomplete" => "off",
              "class" => "form-horizontal"
          ]
      );
?>
<?php echo $this->getContent(); ?>

  <div class="form-group">
      <label for="fieldId" class="col-sm-2 control-label">Id</label>
      <div class="col-sm-10">
          <?php echo $this->tag->numericField(["Id", "type" => "number", "class" => "form-control", "id" => "fieldId",
          "placeholder" => "Buscar por Id"]) ?>
      </div>
  </div>

  <div class="form-group">
      <label for="fieldNombre" class="col-sm-2 control-label">Nombre</label>
      <div class="col-sm-10">
          <?php echo $this->tag->textField(["Nombre", "type" => "text", "size" => 30, "class" => "form-control", "id" => "fieldNombre" ,
          "placeholder" => "Buscar por Nombre"]) ?>
      </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <?php echo $this->tag->submitButton(["Buscar", "class" => "btn btn-primary"]) ?>
      </div>
  </div>
  <?php echo $this->tag->endForm(); ?>
</div>
