<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <h1>Resultado</h1>
    <div class="container">
        <?php echo $this->tag->linkTo(["index", "Volver","class" => "btn btn-primary" ]); ?>
  </div>
</div>
<div class="container" style="margin-top: 25px;">
  <h3>Unicornios</h3>
</div>
<?php echo $this->getContent(); ?>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Precio</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($page->items as $data): ?>
                <tr>
                <td><?php echo $data["Id"] ?></td>
                <td><?php echo $data["Nombre"] ?></td>
                <td><?php echo $data["Color"] ?></td>
                <td>$<?php echo $data["Precio"] ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-top:30px;">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11" align="center">
      <?php echo $this->tag->linkTo(["index/search", "Primero","class" => "btn btn-primary"]) ?>
      <?php echo $this->tag->linkTo(["index/search?page=" . $page->before, "Anterior","class" => "btn btn-primary"]) ?>
      <?php echo $this->tag->linkTo(["index/search?page=" . $page->next, "Siguiente","class" => "btn btn-primary"]) ?>
      <?php echo $this->tag->linkTo(["index/search?page=" . $page->last, "Ultimo","class" => "btn btn-primary"]) ?>
    </div>
</div>
